<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.min.css">
</head>
<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
       {% include 'app/module/_top-slider/_top-slider.html' %}

         {% include 'app/module/_categories/_categories.html' %}
       
       {% include 'app/module/_video-fashion/_video-fashion.html' %}
        
       {% include 'app/module/_product/_product.html' %}

          {% include 'app/module/_promo/_promo.html' %} 

<!-- 
            нет макета
            <section class="blog">
                <div class="container">
                    <h3 class="title">From Our Blog</h3>
                    <p class="text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit, sed do eistmode tempor incidentut ut labore Adipisci, aliquid.
                    </p>
                    <div class="blog__items">
                        <div class="blog__item">
                            <a class="blog__item-imglink" href="#">
                                <img src="images/blog/1" alt="blog img">
                            
                                <div class="blog__item-info">
                                    <a class="blog__item-author" href="#">By Admin</a>
                                    <div class="blog__item-date">10 Junuary, 2020</div>
                                    <a class="blog__item-titlekink" href="#">
                                    <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile</h4>
                                    </a>
                                    <a class="blog__item-link" href="#">Read More</a>
                                </div>
                            </a>
                        </div>
                        <div class="blog__item">
                            <a class="blog__item-imglink" href="#">
                                <img src="images/blog/2" alt="blog img">
                       
                                <div class="blog__item-info">
                                    <a class="blog__item-author" href="#">By Admin</a>
                                    <div class="blog__item-date">10 Junuary, 2020</div>
                                    <a class="blog__item-titlekink" href="#">
                                    <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile</h4>
                                    </a>
                                    <a class="blog__item-link" href="#">Read More</a>
                                </div>
                            </a>
                        </div>
                        <div class="blog__item">
                            <a class="blog__item-imglink" href="#">
                                <img src="images/blog/3" alt="blog img">
                        
                                <div class="blog__item-info">
                                    <a class="blog__item-author" href="#">By Admin</a>
                                    <div class="blog__item-date">10 Junuary, 2020</div>
                                    <a class="blog__item-titlekink" href="#">
                                    <h4 class="blog__item-title">Our Apps User Use Mobile On His Mobile</h4>
                                    </a>
                                    <a class="blog__item-link" href="#">Read More</a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section> -->

    </main>
    {% include 'app/module/_footer/_footer.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>





